<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://microsoft-apiapp47e36ddbeec94489bcbb8f16a2d4b63b.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>microsoft-apiapp47e36ddbeec94489bcbb8f16a2d4b63b.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Microsoft-ApiApp47e36ddbeec94489bcbb8f16a2d4b63b</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <AppServiceName>FarmworkersWebAPI</AppServiceName>
    <ResourceGroupName>grupoclinicajuridica</ResourceGroupName>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Microsoft-ApiApp47e36ddbeec94489bcbb8f16a2d4b63b</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureAPIApp</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FarmWorkersEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=clinicajuridica.database.windows.net;Initial Catalog=FarmWorkersAppDatabaseV4.4;Persist Security Info=True;User ID=clinicajuridica;Password=Farmworkers$2017;Application Name=EntityFramework" Name="Data Source=clinicajuridica.database.windows.net;Initial Catalog=FarmWorkersAppDatabaseV4.4;Persist Security Info=True;User ID=clinicajuridica;Password=Farmworkers$2017;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FarmworkersWebAPI.Entities.FarmWorkerAppContext, FarmworkersWebAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FarmWorkerAppDB" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost\SQLEXPRESS2014;Initial Catalog=FarmWorkersAppDatabaseV4.4;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FarmWorkerAppDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost\SQLEXPRESS2014;Initial Catalog=FarmWorkersAppDatabaseV4.4;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FarmWorkerAppDB-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FarmWorkersEntities-Web.config Connection String">
      <ParameterValue>Data Source=clinicajuridica.database.windows.net;Initial Catalog=FarmWorkersAppDatabaseV4.4;Persist Security Info=True;User ID=clinicajuridica;Password=Farmworkers$2017;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>